/*Variables*/
/*Colors*/
/*Text-Shadow*/
/*Globals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

body {
  position: relative;
  overflow-x: hidden;
  font-size: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
  cursor: pointer !important;
}

/*Page Wrapper*/
#page-wrapper {
  position: relative;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*Width*/
  max-width: 100vw;
  min-width: 100%;
  width: 100%;
  /*Height*/
  min-height: 100%;
  height: 100%;
  /*Header Section*/
}

#page-wrapper #header-section {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 100vw;
  height: 25vh;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  /*Notification Wrapper*/
  /*Navigation Wrapper*/
  /*Navlist*/
  /*Header Classes*/
  /*CallUs Btn Effects*/
}

#page-wrapper #header-section p {
  white-space: nowrap;
}

#page-wrapper #header-section #notification-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 50%;
  background-color: #F8F8FF;
  color: #1F2937;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.4);
}

#page-wrapper #header-section #notification-wrapper #section-1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 2%;
  gap: 8%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#page-wrapper #header-section #notification-wrapper #section-1 #notif-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 110%;
}

#page-wrapper #header-section #notification-wrapper #section-1 #notif-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 110%;
}

#page-wrapper #header-section #notification-wrapper #section-1 #notification-number:hover p {
  color: #2563EB;
  text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.8);
}

#page-wrapper #header-section #notification-wrapper #section-2 {
  height: 100%;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-wrapper #header-section #notification-wrapper #section-2 #callUs-wrapper {
  display: none;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#page-wrapper #header-section #notification-wrapper #section-2 #callUs-wrapper #call-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 45%;
  font-size: 175%;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #3B82F6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8.5%;
}

#page-wrapper #header-section #notification-wrapper #section-2 #socialMedia-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 225%;
}

#page-wrapper #header-section #notification-wrapper #section-2 #socialMedia-wrapper a {
  color: #3B82F6;
  text-shadow: 1px 1px 11px rgba(37, 99, 235, 0.4);
}

#page-wrapper #header-section #notification-wrapper #section-2 #socialMedia-wrapper a:hover {
  text-shadow: 1px 1px 6px rgba(37, 99, 235, 0.8);
  color: #2563EB;
}

#page-wrapper #header-section #navigation-wrapper {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  height: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 6%;
  gap: 8%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3B82F6;
}

#page-wrapper #header-section #navigation-wrapper i {
  text-shadow: 1px 1px 11px rgba(37, 99, 235, 0.4);
  font-size: 180%;
  line-height: 200%;
}

#page-wrapper #header-section #navigation-wrapper i:hover {
  text-shadow: 1px 1px 6px rgba(37, 99, 235, 0.8);
  cursor: pointer;
}

#page-wrapper #header-section #navigation-wrapper h1 {
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.4);
  font-size: 200%;
  line-height: 150%;
  white-space: pre-wrap;
}

#page-wrapper #header-section #navigation-wrapper ul#navlist {
  display: none;
}

#page-wrapper #header-section ul#mobile-navlist {
  position: absolute;
  z-index: -50;
  left: 0;
  top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 115%;
  gap: 6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 270%;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  z-index: -50;
  background-color: #FFFFFF;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #header-section ul#mobile-navlist li.list-item a.item-link {
  font-weight: 600;
  font-size: 125%;
  color: #3B82F6;
  text-shadow: 1px 1px 11px rgba(37, 99, 235, 0.4);
}

#page-wrapper #header-section ul#mobile-navlist li.list-item a.item-link:hover {
  color: #2563EB;
  text-shadow: 1px 1px 6px rgba(37, 99, 235, 0.8);
}

#page-wrapper #header-section ul#mobile-navlist.open {
  top: 15vh;
}

#page-wrapper #header-section .bold {
  font-weight: 700;
}

#page-wrapper #header-section .blue-700 {
  color: #3B82F6;
}

#page-wrapper #header-section .call-btn {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
}

#page-wrapper #header-section .call-btn i {
  padding-right: 8px;
}

#page-wrapper #header-section .call-fill-right-bg::before {
  position: absolute;
  content: "";
  background: #82a6f35b none repeat scroll 0% 0%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

#page-wrapper #header-section .call-fill-right-bg:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

#page-wrapper #header-section .call-fill-right-bg:hover {
  color: black;
  background: #82a6f35b  none repeat scroll 0% 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#page-wrapper #banner-section {
  position: relative;
  z-index: -60;
  height: 75vh;
  width: 100vw;
  z-index: 0 !important;
}

#page-wrapper #banner-section:before {
  content: "";
  position: absolute;
  background-image: url("/img/banner.png");
  background-repeat: no-repeat;
  background-size: auto 75vh;
  width: 250%;
  height: 250%;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  z-index: -5000 !important;
}

#page-wrapper #banner-section #banner-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 8%;
  padding-left: 4%;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.4);
}

#page-wrapper #banner-section #banner-text h1 {
  font-size: 350%;
  line-height: 100%;
  font-weight: 800;
}

#page-wrapper #banner-section #banner-text h1:nth-child(1) {
  color: #3B82F6;
}

#page-wrapper #banner-section #banner-text h1:nth-child(2) {
  color: #2C2C34;
}

#page-wrapper #banner-section #banner-text h3 {
  margin-top: 4%;
  color: #2C2C34;
  font-size: 180%;
  line-height: 120%;
  font-weight: 600;
  max-width: 75%;
}

#page-wrapper #banner-section #banner-text #banner-btn {
  position: relative;
  top: 10%;
  left: 10%;
  z-index: 9999;
  position: relative;
  padding: 1% 3% 1.5% 3%;
  background-color: #3B82F6;
  color: #FFFFFF;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.4);
  font-size: 22pt;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #banner-section #banner-text #banner-btn:hover {
  text-shadow: 1px 1px 6px rgba(150, 150, 150, 0.8);
  color: #F8F8FF;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #who-section {
  position: relative;
  top: -5vh;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3B82F6;
}

#page-wrapper #who-section #who-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("/img/thumbs.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#page-wrapper #who-section #who-1 h1 {
  font-size: 250%;
  color: #FFFFFF;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
  z-index: 150;
}

#page-wrapper #who-section #who-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#page-wrapper #who-section #who-2 h2 {
  color: #FFFFFF;
  font-size: 180%;
  width: 80%;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
  z-index: 150;
}

#page-wrapper #who-section #who-2 h3 {
  color: #FFFFFF;
  width: 90%;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
  z-index: 150;
}

#page-wrapper #who-section #who-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: #3b82f6;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 130, 246, 0.563445)), color-stop(18%, rgba(59, 130, 246, 0.6)), color-stop(37%, #3b82f6), to(#3b82f6));
  background: linear-gradient(180deg, rgba(59, 130, 246, 0.563445) 0%, rgba(59, 130, 246, 0.6) 18%, #3b82f6 37%, #3b82f6 100%);
}

#page-wrapper #quote-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10%;
  padding-bottom: 15%;
}

#page-wrapper #quote-section #quote-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 65vw;
  min-height: 65vh;
  border-radius: 32px;
  background-color: #FFFCF8;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #quote-section #quote-wrapper #quote-header {
  height: 45px;
  border-radius: 32px 32px 0 0;
  background-color: #F8F8FF;
  text-align: center;
}

#page-wrapper #quote-section #quote-wrapper #quote-header h1 {
  color: #374151;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 160%;
  line-height: 160%;
}

#page-wrapper #quote-section #quote-wrapper #quote-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8%;
  padding-bottom: 8%;
  z-index: 400;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form {
  width: 100%;
  max-width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  outline: none;
  z-index: 450;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea {
  border: 1px solid #374151;
  padding: 2%;
  background-color: #FFFCF8;
  color: #3B82F6;
  font-size: 95%;
  font-weight: 600;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea:focus {
  outline: none !important;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea::-webkit-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea:-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea::-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form textarea::placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input {
  border: none;
  background-color: #FFFCF8;
  color: #3B82F6;
  font-size: 95%;
  font-weight: 600;
  border-bottom: 1px solid #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input:active, #page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input:focus-visible, #page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input:focus {
  outline: none !important;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input::-webkit-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input:-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input::-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form input::placeholder {
  color: #374151;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 8rem;
  height: 3rem;
  border-radius: 15rem;
  background-color: #3B82F6;
  border: 0;
  color: #FFFFFF;
  font-size: 125%;
  font-weight: 600;
  z-index: 500;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form button :active, #page-wrapper #quote-section #quote-wrapper #quote-body #quote-form button :focus {
  outline: none;
  border: 0;
}

#page-wrapper #quote-section #quote-wrapper #quote-body #quote-form button :hover {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#page-wrapper #quote-section #background-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100vw;
  width: 100%;
  z-index: -50;
}

#page-wrapper #affiliation-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100vw;
  width: 100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 15%;
  background-color: #F8F8FF;
}

#page-wrapper #affiliation-section #affil-header {
  font-size: 325%;
  font-weight: 800;
  color: #374151;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
}

#page-wrapper #affiliation-section #affil-body {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

#page-wrapper #affiliation-section #affil-body #affil-airtemp {
  width: 50vw;
  height: auto;
}

#page-wrapper #affiliation-section #affil-body #affil-newagain {
  width: 70vw;
  height: auto;
}

#page-wrapper #footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 4% 4% 10% 4%;
}

#page-wrapper #footer-section #footer-map iframe {
  max-width: 80vw;
  border-radius: 32px;
}

#page-wrapper #footer-section #footer-contact {
  width: 100%;
  max-width: 100%;
  padding: 0 3% 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#page-wrapper #footer-section #footer-contact #contact-header {
  text-align: center;
  font-size: 275%;
  font-weight: 800;
  color: #374151;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
}

#page-wrapper #footer-section #footer-contact #contact-1, #page-wrapper #footer-section #footer-contact #contact-2, #page-wrapper #footer-section #footer-contact #contact-3 {
  color: #374151;
  border-bottom: 2px solid #374151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
  width: 80%;
  font-size: 85%;
}

#page-wrapper #footer-section #footer-contact #contact-1 h1, #page-wrapper #footer-section #footer-contact #contact-2 h1, #page-wrapper #footer-section #footer-contact #contact-3 h1 {
  width: 100%;
}

#page-wrapper #footer-section #footer-contact #contact-1 :last-child, #page-wrapper #footer-section #footer-contact #contact-2 :last-child, #page-wrapper #footer-section #footer-contact #contact-3 :last-child {
  text-align: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3B82F6;
  white-space: nowrap;
}

#page-wrapper #footer-section #footer-hours {
  width: 100%;
  max-width: 100%;
  padding: 0 3% 0 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#page-wrapper #footer-section #footer-hours #hours-header {
  text-align: center;
  font-size: 275%;
  font-weight: 800;
  color: #374151;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.4);
}

#page-wrapper #footer-section #footer-hours #hours-1, #page-wrapper #footer-section #footer-hours #hours-2, #page-wrapper #footer-section #footer-hours #hours-3 {
  font-size: 85%;
  font-weight: 600;
  width: 80%;
  border-bottom: 2px solid #374151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3%;
  width: 80%;
  color: #374151;
}

#page-wrapper #footer-section #footer-hours #hours-1 h1, #page-wrapper #footer-section #footer-hours #hours-1 a, #page-wrapper #footer-section #footer-hours #hours-2 h1, #page-wrapper #footer-section #footer-hours #hours-2 a, #page-wrapper #footer-section #footer-hours #hours-3 h1, #page-wrapper #footer-section #footer-hours #hours-3 a {
  width: 100%;
}

#page-wrapper #footer-section #footer-hours #hours-1 a, #page-wrapper #footer-section #footer-hours #hours-2 a, #page-wrapper #footer-section #footer-hours #hours-3 a {
  font-weight: 600;
  font-size: 140%;
}

#page-wrapper #footer-section #footer-hours #hours-1 img, #page-wrapper #footer-section #footer-hours #hours-2 img, #page-wrapper #footer-section #footer-hours #hours-3 img {
  width: 2rem;
  height: 2rem;
}

#page-wrapper #footer-section #footer-hours #hours-1 :last-child, #page-wrapper #footer-section #footer-hours #hours-2 :last-child, #page-wrapper #footer-section #footer-hours #hours-3 :last-child {
  text-align: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #3B82F6;
  white-space: nowrap;
}

@media only screen and (max-width: 359px) {
  #socialMedia-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  #notification-wrapper {
    max-height: 25%;
  }
  #notification-wrapper #section-2 #socialMedia-wrapper, #notification-wrapper #section-2 #callUs-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #notification-wrapper #section-2 #callUs-wrapper #call-button {
    padding-left: 4%;
    width: 90% !important;
  }
  #navigation-wrapper {
    padding-left: 2% !important;
  }
  #navigation-wrapper ul#navlist {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 2%;
    gap: 5%;
    width: 50%;
  }
  #navigation-wrapper ul#navlist .list-item .item-link {
    font-size: 135%;
    font-weight: 600;
    color: #3B82F6;
  }
  #navigation-wrapper ul#navlist .list-item .item-link:hover {
    color: #2563EB;
  }
  #burger-btn, #mobile-navlist {
    display: none;
  }
  #banner-section {
    height: 60vh !important;
  }
  #who-section {
    min-height: 75vh !important;
  }
  #who-section #who-1 h1 {
    font-size: 350% !important;
    max-width: 82%;
  }
  #who-section #who-2 {
    padding-bottom: 5%;
  }
  #who-section #who-2 h2 {
    font-size: 215% !important;
  }
  #who-section #who-2 h3 {
    font-size: 115%;
    width: 92%;
  }
  #who-section #who-overlay {
    opacity: 0.98;
  }
  #quote-section #quote-wrapper {
    min-height: 50vh !important;
    max-width: 75vw !important;
  }
  #quote-section #quote-wrapper #quote-header {
    height: 60px !important;
    font-size: 150%;
    line-height: 150%;
  }
  #quote-section #quote-wrapper #quote-body #quote-form {
    max-width: 50vw !important;
    gap: 22px !important;
  }
}

@media only screen and (min-width: 900px) {
  #header-section {
    height: 20vh !important;
  }
  #header-section #notification-wrapper {
    max-height: 32%;
  }
  #header-section #notification-wrapper #section-2 #socialMedia-wrapper, #header-section #notification-wrapper #section-2 #callUs-wrapper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  #header-section #notification-wrapper #section-2 #callUs-wrapper #call-button {
    padding-left: 4%;
    width: 90% !important;
  }
  #header-section #navigation-wrapper {
    padding-left: 4% !important;
  }
  #header-section #navigation-wrapper h1 {
    width: 100%;
  }
  #header-section #navigation-wrapper ul#navlist {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 8.5%;
    gap: 8%;
    width: 50%;
  }
  #header-section #navigation-wrapper ul#navlist .list-item .item-link {
    font-size: 135%;
    font-weight: 600;
    color: #3B82F6;
  }
  #header-section #navigation-wrapper ul#navlist .list-item .item-link:hover {
    color: #2563EB;
  }
  #burger-btn, #mobile-navlist {
    display: none;
  }
  #banner-section {
    height: 60vh !important;
  }
  #banner-section #banner-text {
    max-width: 75%;
  }
  #who-section {
    min-height: 75vh !important;
  }
  #who-section #who-1 h1 {
    font-size: 350% !important;
    max-width: 82%;
  }
  #who-section #who-2 {
    padding-bottom: 5%;
  }
  #who-section #who-2 h2 {
    font-size: 215% !important;
  }
  #who-section #who-2 h3 {
    font-size: 115%;
    width: 92%;
  }
  #who-section #who-overlay {
    opacity: 0.98;
  }
  #quote-section #quote-wrapper {
    min-height: 55vh !important;
    max-width: 65vw !important;
  }
  #quote-section #quote-wrapper #quote-header {
    height: 60px !important;
    font-size: 150%;
    line-height: 150%;
  }
  #quote-section #quote-wrapper #quote-body #quote-form {
    max-width: 50vw !important;
    gap: 22px !important;
  }
  #affiliation-section #affil-header {
    font-size: 425% !important;
  }
  #affiliation-section #affil-body {
    gap: 6rem;
  }
  #affiliation-section #affil-body #affil-airtemp {
    width: 40vw !important;
  }
  #affiliation-section #affil-body #affil-newagain {
    width: 55vw !important;
  }
}

@media only screen and (min-width: 1250px) {
  #banner-section:before {
    content: "";
    position: absolute;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
    background-size: 100vw auto !important;
    width: 250%;
    height: 250%;
    -webkit-filter: blur(4px);
            filter: blur(4px);
    z-index: -5000 !important;
  }
  #banner-section #banner-text h3 {
    max-width: 55% !important;
  }
  #who-section {
    min-height: 65vh !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  #who-section #who-1 {
    background-size: auto 100% !important;
    background-position: -230px;
  }
  #who-section #who-overlay {
    right: 0;
    top: 0;
    background: #3b82f6;
    background: -webkit-gradient(linear, left top, right top, from(rgba(59, 130, 246, 0.563445)), color-stop(18%, rgba(59, 130, 246, 0.6)), color-stop(37%, #3b82f6), to(#3b82f6)) !important;
    background: linear-gradient(90deg, rgba(59, 130, 246, 0.563445) 0%, rgba(59, 130, 246, 0.6) 18%, #3b82f6 37%, #3b82f6 100%) !important;
  }
  #quote-section #quote-wrapper {
    min-height: 60vh !important;
    max-width: 50vw !important;
  }
  #quote-section #quote-wrapper #quote-body #quote-form {
    max-width: 40vw !important;
  }
  #affiliation-section #affil-header {
    font-size: 465% !important;
  }
  #affiliation-section #affil-body {
    gap: 7rem !important;
  }
  #affiliation-section #affil-body #affil-airtemp {
    width: 32.5vw !important;
  }
  #affiliation-section #affil-body #affil-newagain {
    width: 42.5vw !important;
  }
}

@media only screen and (min-width: 1350px) {
  #header-section #notification-wrapper {
    max-height: 35%;
  }
  #header-section #notification-wrapper #section-2 #callUs-wrapper #call-button {
    padding-left: 3%;
    width: 70% !important;
  }
  #affiliation-section #affil-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #affiliation-section #affil-body {
    padding-left: 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  #footer-section {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    padding: 4% 3% 4% 3% !important;
  }
  #footer-section .footer-item {
    overflow: hidden;
    width: 33% !important;
    border-radius: 32px;
  }
  #footer-section #footer-hours #hours-header {
    white-space: nowrap;
  }
  #quote-section {
    padding-top: 15% !important;
  }
  #quote-section #quote-wrapper {
    position: relative;
    top: 5%;
    max-width: 650px !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #quote-section #quote-wrapper #quote-header {
    min-width: 100%;
    width: 100%;
  }
  #quote-section #quote-wrapper #quote-body {
    max-width: 75% !important;
  }
}

@media only screen and (min-width: 1600px) {
  #header-section #notification-wrapper {
    max-height: 35%;
  }
  #header-section #notification-wrapper #section-2 #callUs-wrapper #call-button {
    padding-left: 3%;
    width: 55% !important;
  }
  #banner-section {
    height: 75vh !important;
  }
  #quote-section {
    position: relative;
    min-height: 65vh !important;
    height: 100% !important;
  }
  #quote-section #quote-wrapper {
    position: relative;
    top: -150px;
  }
  #affiliation-section #affil-header {
    font-size: 550% !important;
  }
  #affiliation-section #affil-body {
    gap: 8rem;
  }
  #affiliation-section #affil-body #affil-airtemp {
    width: 25vw !important;
  }
  #affiliation-section #affil-body #affil-newagain {
    width: 35vw !important;
  }
}
/*# sourceMappingURL=index.css.map */