/*Variables*/
/*Colors*/
/*Measurements*/
/*Globals*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #111827;
}

a :hover {
  text-decoration: none;
  color: #1F2937;
}

/*Header Section*/
div#header-wrapper {
  position: relative;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  /*Notification Bar*/
}

div#header-wrapper #notification-wrapper {
  width: 100%;
  height: 6vh;
  background-color: #F8F8FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#header-wrapper #notification-wrapper #notification-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#header-wrapper #notification-wrapper #notification-left :nth-child(2) {
  padding-left: 5rem;
}

div#header-wrapper #notification-wrapper #notification-left .notification-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 18pt;
}

div#header-wrapper #notification-wrapper #notification-left .notification-info :nth-child(1) {
  font-size: 16pt;
  font-weight: 700;
}

div#header-wrapper #notification-wrapper #notification-left .notification-info :nth-child(2) {
  color: #3B82F6;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 0.6rem;
}

div#header-wrapper #notification-wrapper #notification-left .notification-info :nth-child(2) :hover {
  color: #2563EB;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.3);
}

div#header-wrapper #notification-wrapper #notification-left .notification-info :nth-child(2) p {
  color: #3B82F6;
  font-size: 14pt;
  font-weight: 400;
  padding-left: 0.6rem;
}

div#header-wrapper #notification-wrapper #notification-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#header-wrapper #notification-wrapper #notification-right #call-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

div#header-wrapper #notification-wrapper #notification-right #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

div#header-wrapper #notification-wrapper #notification-right #social-media :nth-child(2) {
  padding-left: 1.1rem;
}

div#header-wrapper #notification-wrapper #notification-right a#give-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #3B82F6;
  color: #FFFFFF;
  font-size: 16pt;
  padding: 0 1.25rem 0 1.5rem;
}

div#header-wrapper #notification-wrapper #notification-right a#give-call #give-call-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div#header-wrapper #notification-wrapper #notification-right a#give-call #give-call-content #give-call-text {
  font-size: 18pt;
  line-height: 18pt;
}

div#header-wrapper #notification-wrapper #notification-right a#give-call #give-call-content #give-call-phone {
  font-size: 18pt;
  line-height: 18pt;
  padding-left: 1rem;
}

div#header-wrapper #notification-wrapper #notification-right a#give-call :hover {
  color: #EEF2FF;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.3);
}

.hbtn {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-fill-right-bg::before {
  position: absolute;
  content: "";
  background: #5491f6 none repeat scroll 0% 0%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
}

.hb-fill-right-bg:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.hb-fill-right-bg:hover {
  color: black;
  background: #5491f6 none repeat scroll 0% 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#social-media {
  font-size: 2.5rem;
  line-height: 16pt;
  padding-left: 3rem;
  padding-right: 3rem;
}

#social-media :nth-child(2) {
  padding-left: 0.30rem;
}

#social-media a#social-fb, #social-media a#social-ig {
  color: #2563EB;
}

#social-media a#social-fb :hover, #social-media a#social-ig :hover {
  color: #3B82F6;
}

/*Navigation Bar*/
#navbar-wrapper {
  position: relative;
  background-color: #FFFFFF;
  z-index: 9999;
  max-width: 100vw;
  width: 100%;
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6rem;
  padding-right: 12rem;
}

#navbar-wrapper #navbar-title h1 {
  color: #3B82F6;
  font-size: 2.2rem;
  line-height: 2.5rem;
}

#navbar-wrapper #navbar-list {
  font-size: 16pt;
  font-weight: 600;
}

#navbar-wrapper #navbar-list ul#navlist {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 30vw;
}

#navbar-wrapper #navbar-list ul#navlist .list-item a.item-link {
  color: #3B82F6;
}

#navbar-wrapper #navbar-list ul#navlist .list-item a.item-link:hover {
  color: #2563EB;
  text-shadow: 1px 1px 11px rgba(150, 150, 150, 0.3);
}

/*Banner Section*/
#banner-wrapper {
  position: relative;
  overflow: hidden;
  height: 65vh;
}

#banner-wrapper #banner-text {
  position: relative;
  left: 15.8rem;
  top: 12.5rem;
  z-index: 50;
}

#banner-wrapper #banner-text :nth-child(1) {
  color: #3B82F6;
}

#banner-wrapper #banner-text :nth-child(2) {
  color: #374151;
}

#banner-wrapper #banner-text h1 {
  font-size: 46pt;
  line-height: 48pt;
  font-weight: 800;
}

#banner-wrapper #banner-text h3 {
  padding-top: 2rem;
  color: #374151;
  font-size: 26pt;
  line-height: 26pt;
  max-width: 32rem;
  font-weight: 700;
}

#banner-wrapper #banner-text #banner-btn {
  position: relative;
  top: 3rem;
  left: 1rem;
  font-size: 26pt;
  line-height: 26pt;
  font-weight: 700;
  color: #3B82F6;
  border-radius: 15rem;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
  background-color: #FFFFFF;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#banner-wrapper #banner-text #banner-btn:hover {
  color: #2563EB;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#banner-wrapper #banner-img {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

#banner-wrapper #banner-img #banner-img_src {
  width: 100%;
  height: auto;
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

/*Page Wrapper*/
#page-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 200vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: #FFFCF8;
  z-index: 9999;
  /*Who Section*/
  /*Quote Section*/
}

#page-wrapper #who-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 32rem;
  background-color: #3B82F6;
}

#page-wrapper #who-wrapper #who-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  /*Gradient*/
  background: #3b82f6;
  background: -webkit-gradient(linear, left top, right top, from(rgba(59, 130, 246, 0.563445)), color-stop(18%, rgba(59, 130, 246, 0.6)), color-stop(37%, #3b82f6), to(#3b82f6));
  background: linear-gradient(90deg, rgba(59, 130, 246, 0.563445) 0%, rgba(59, 130, 246, 0.6) 18%, #3b82f6 37%, #3b82f6 100%);
}

#page-wrapper #who-wrapper #who-left {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#page-wrapper #who-wrapper #who-left #left-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 1rem;
  left: 6rem;
  font-size: 20pt;
  line-height: 42pt;
  max-width: 32rem;
  text-align: center;
  z-index: 150;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.35);
}

#page-wrapper #who-wrapper #who-left #left-img {
  position: absolute;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

#page-wrapper #who-wrapper #who-left #left-img #left-img_src {
  width: 100%;
  height: auto;
  -webkit-filter: blur(0.15rem);
          filter: blur(0.15rem);
}

#page-wrapper #who-wrapper #who-right {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#page-wrapper #who-wrapper #who-right #right-text {
  position: absolute;
  right: 6rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  z-index: 150;
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.35);
  text-align: center;
}

#page-wrapper #who-wrapper #who-right #right-text h2 {
  font-size: 26pt;
  line-height: 30pt;
  z-index: 150;
  max-width: 38rem;
}

#page-wrapper #who-wrapper #who-right #right-text p {
  font-size: 18pt;
  line-height: 20pt;
  z-index: 150;
  max-width: 42rem;
}

#page-wrapper #quote-wrapper {
  margin-top: 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  width: 45vw;
  height: 85vh;
  border-radius: 5rem 5rem 5rem 5rem;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(31, 41, 55, 0.43);
  box-shadow: 0px 0px 24px 0px rgba(31, 41, 55, 0.43);
}

#page-wrapper #quote-wrapper #quote-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 0;
  min-width: 100%;
  min-height: 15%;
  border-radius: 5rem 5rem 0 0;
  background-color: #F8F8FF;
}

#page-wrapper #quote-wrapper #quote-header h1 {
  width: 100%;
  font-size: 42pt;
  line-height: 42pt;
  font-weight: 700;
  color: #374151;
  text-shadow: 1px 1px 2px #969696;
}

#page-wrapper #quote-wrapper #form-wrapper {
  color: #3B82F6;
  width: 50%;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form *:not(:first-child) {
  margin-top: 2rem;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form input {
  border: 0;
  border-bottom: 1px solid rgba(56, 66, 82, 0.25);
  outline: 0;
  width: 100%;
  color: #3B82F6;
  font-size: 12pt;
  line-height: 16pt;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form input::-webkit-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form input:-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form input::-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form input::placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form textarea {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(56, 66, 82, 0.25);
  outline: 0;
  color: #3B82F6;
  font-size: 12pt;
  line-height: 16pt;
  text-overflow: wrap;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form textarea::-webkit-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form textarea:-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form textarea::-ms-input-placeholder {
  color: #374151;
}

#page-wrapper #quote-wrapper #form-wrapper #quote-form textarea::placeholder {
  color: #374151;
}

/*Affiliation Section*/
/*Footer Section*/
/*Google Map*/
/*Contact*/
/*Business Hours*/
/*~~~Media Queries~~~*/
/*# sourceMappingURL=index.css.map */